html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family:
    Inter, 'PingFang SC', 'Microsoft YaHei', 'Noto Sans CJK SC', system-ui,
    sans-serif;
}

#app {
  height: 100%;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.bd {
  border: 1px solid black;
}
