html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
}

.bg-red {
  background: red;
}

.bg-yellow {
  background: yellow;
}

.bg-blue {
  background: blue;
}

.bg-green {
  background: green;
}

.border-red {
  background: 1px solid red;
}

.border-yellow {
  background: 1px solid yellow;
}

.border-blue {
  background: 1px solid blue;
}

.border-green {
  background: 1px solid green;
}